/* Homepage stylesheet */

.center_border{
  margin: auto;
  border: 3px solid #969696;
  padding: 2px;
  text-align: center;
}

/* Credit to Fabrizio Calderan */
/* https://stackoverflow.com/questions/54927180/css-grid-square-layout */
/* This makes the grid's row height match the column width somehow. */
/*.container div::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: middle;
}*/

.grid-container {
  font-size: 40px;
  text-align: center;
  width: 98%;
  background: #969696;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  border: 5px solid #969696;
  margin: auto;
}

@media screen and (min-width: 768px){
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



.image-panel {
  /* A larger font size introduces more space below the image panel */
  display: flex;
  background-color: #999;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-panel::before {
  display: block;
  content: '';
  padding-bottom: 100%;
}

.text-overlay {
  background: rgb(0, 0, 0);
  background: rgba(20, 20, 20, 0.9);
  color: #FFF;
  transition: 0.3s ease-out;
  opacity: 0;
  align-self: flex-end;
  margin: 0px;
  width: 100%;
  font-size: 30px;
}

.image-panel:hover .text-overlay{
  opacity: 1;
}

/* Background images */
#pic-2020-09-29 {
  background-image: url("images/2020.09.29.png");
}

#pic-2020-10-31 {
  background-image: url("images/2020.10.31.png");
}

/* This is for testing the homepage layout */
.d2{background: #1FF;}
.d3{background: #F1F;}
.d4{background: #FF1;}
.d5{background: #11F;}
.d6{background: #1F1;}
.d7{background: #F11;}
.d8{background: #999;}
.d9{background: #222;}
